@import url('https://db.onlinewebfonts.com/c/67821e7ef9a2952d6e7757a6cae5a826?family=Novecento+WideBold');
@import url(https://db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember+Regular);
/* Reset básico */
body, h1, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

.main-header {
    background: rgb(255, 111, 0);
    font-family: 'Novecento WideBold', sans-serif;
    text-transform: uppercase;
    height: 35px;
    color: white;
    gap: 50px; 
    padding: 20px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.logo img {
    max-width: 110px;
    height: auto;
}

.logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.nav-menu ul {
    display: flex;
    gap: 30px; /* Aumenta la separación entre los elementos del menú */
}

.nav-menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.9rem; /* Reduce el tamaño de la letra */
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
    position: relative;
}

.nav-menu ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-menu ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-menu ul li a:hover {
    color: #ffffff;
    transform: translateY(-3px);
}


.container-text {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 4rem auto 0; /* Reduce el margin-top a 4rem en lugar de 8rem */
    max-width: 550px; /* Ajusta el ancho máximo para centrar mejor */
}

.profile-pic {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px; 
}

.profile-pic:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.text-content h1 {
    padding: 0;
    font-family: 'Novecento WideBold', sans-serif;
    color: #ffffff;
    font-size: 3rem; /* Ajusta el tamaño de la fuente para mayor equilibrio */
    letter-spacing: 2px;
    line-height: 1.4;
    margin: 0;
}

.text-content b {
    color: rgb(223, 122, 27);
}

.conciertos {
    margin-top: 5rem;
    color: #ffffff; /* Texto blanco */
    padding: 20px; 
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra */
    text-align: center; /* Centrar el texto */
    margin: 40px auto; /* Espacio superior e inferior */
    max-width: 800px; /* Ancho máximo */
}

.cruzzi {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    align-items: center;
}

.conciertos h1 {
    font-family: 'Novecento WideBold', sans-serif;
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    margin-bottom: 25px; /* Espacio debajo del título */
}

.conciertos h2 {
    font-family: 'Novecento WideBold', sans-serif;
    font-size: 1.5rem; /* Tamaño de fuente más pequeño */
    margin-bottom: 20px; /* Espacio debajo del subtítulo */
    color: rgb(223, 122, 27); /* Color del subtítulo */
}
.cruzzi b {
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta automáticamente */
    gap: 15px; /* Espacio entre las imágenes */
    padding: 10px; /* Espacio interno */
}

.gallery-item {
    overflow: hidden; /* Ocultar contenido que se sale */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.gallery-item img {
    width: 100%; /* Ancho completo del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease; /* Efecto de transición suave */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.aquihay {
    width: 100%;
    height: auto;
    align-items: center;
}
.aquihay h2 {
    font-family: 'Novecento WideBold', sans-serif;
    font-size: 1.5rem;
    color: rgb(223, 122, 27);
    text-align: center;
    margin: 40px 0;
}
.aquihay b {
    color: #ffffff;
}
.tino {
    width: 100%;
    height: auto;
    align-items: center;

}
.tino h2 {
    font-family: 'Novecento WideBold', sans-serif;
    font-size: 1.5rem;
    color: rgb(223, 122, 27);
    text-align: center;
    margin: 40px 0;
}
.tino b {
    color: #ffffff;
}
.chart-container {
    padding: 0rem;
    gap: 8rem;
    margin-top: 3rem;
    margin-left: 9rem;
    width: 300px;
    align-items: center;
    margin: 3rem auto;
}

.Deportes {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5rem;
}
.Deportes h1 {
    font-family: "Novecento WideBold", sans-serif;
    margin-top: 3rem;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.galleryDep {
    align-items: center;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 900px;
    margin: 3rem auto;
}

.gallery-item-Dep {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.gallery-item-Dep img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
}

.gallery-item-Dep:hover img {
    transform: scale(1.1);
}
.textDep {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Amazon Ember Regular', sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
}
.chart-containerDep {
    padding: 0rem;
    gap: 8rem;
    margin-top: 0rem;
    margin-left: 9rem;
    width: 300px;
    align-items: center;
    margin: 3rem auto;
}
.chart-containerDep h2{
    font-family: 'Novecento WideBold', sans-serif;
    font-size: 1.5rem;
    color: rgb(223, 122, 27);
    text-align: center;
    margin: 40px 0;
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
.medios {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5rem;
}
.medios h1 {
    font-family: "Novecento WideBold", sans-serif;
    margin-top: 3rem;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.cultura {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5rem;
}
.cultura h1 {
    font-family: "Novecento WideBold", sans-serif;
    margin-top: 3rem;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.videojuegos {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5rem;
}
.videojuegos h1 {
    font-family: "Novecento WideBold", sans-serif;
    margin-top: 3rem;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.eventosForm {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5rem;
}
.eventosForm h1 {
    font-family: "Novecento WideBold", sans-serif;
    margin-top: 3rem;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.resultados {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5rem;
}
.resultados h1 {
    font-family: "Novecento WideBold", sans-serif;
    margin-top: 3rem;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}


@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
    }
    
    .nav-menu ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}
